* {
  background-color: rgb(13, 110, 196);
}
#colorsito {
  color: black !important;
}
.color-titulo {
  color: blue;
}
p {
  color: white;
}

#mensaje {
  color: red;
}

.hola-estas {
  color: greenyellow;
}
