.pregunta-fondo {
  background-color: rgb(34, 202, 118);
  text-align: center;
}

.carta {
  background-color: #bf0603;
  text-align: center;
}
#titulo-carta {
  color: #f4d58d;
}

#texto-carta {
  color: #08335c;
}
.carta {
  width: 1355px;
  height: auto;
}
.porche-carta {
  width: 300px;
}
#corresponde {
  text-align: right;
  color: #f4d58d;
}
